<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>网站设置</title>
	<link href="./Public/Admin/denglu/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Public/Admin/denglu/css/rightmain.css">

</head>
<body>
		

       <div class="iframecontent">
            <div class="list">
                <div class="itabcontent" id="itabcontent">
<form action="index.php?p=Admin&c=Shop&a=edit" enctype="multipart/form-data" method="post">
                    <div class="itabcontentlist zdpz">
                        <dl class="clearfix">
                            <dt>商品名名：</dt>
                            <dd>
                                <input type="text" id="" name="name" value="<?=$user['name']?>" >
                                <input type="hidden" name="id" value="<?=$user['shop_id']?>">
                                <input type="hidden" name="oldlogo" value="<?=$user['logo']?>">
                            </dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>需要的积分：</dt>
                            <dd>
                                <input type="number" id="" name="number"  value="<?=$user['number']?>">
                            </dd>
                        </dl>
                        <dl class="clearfix">
                            <dt>剩余库存：</dt>
                            <dd>
                                <input type="number" id="" name="kucun" value="<?=$user['kucun']?>">
                            </dd>
                        </dl>
                        
                        <dl class="clearfix">
                            <dt>  商品图片：</dt>
                            <dd>
                                <input type="file" name="logo" >
                                <img src="<?=$user['logo']?>" alt="" name="">
                            </dd>

                        </dl>

                        <dl class="clearfix">
                            <dt class="surebtn">保存按钮：</dt>
                            <dd>
                                <input type="submit">
                            </dd>
                        </dl>
                    </div>
</form>

                </div>
            </div>

        </div>
  </body>
</html>