<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>美发后台管理系统</title>
<meta name="keywords"  content="设置关键词..." />
<meta name="description" content="设置描述..." />
<meta name="author" content="DeathGhost" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="icon" href="Public/Admin/imagesicon/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="Public/Admin/css/style.css" />
<script src="Public/Admin/javascript/jquery.js"></script>
<script src="Public/Admin/javascript/plug-ins/customScrollbar.min.js"></script>
<script src="Public/Admin/javascript/plug-ins/echarts.min.js"></script>
<script src="Public/Admin/javascrip/tplug-ins/layerUi/layer.js"></script>
<script src="Public/Admin/editor/ueditor.config.js"></script>
<script src="Public/Admin/editor/ueditor.all.js"></script>
<script src="Public/Admin/javascript/plug-ins/pagination.js"></script>
<script src="Public/Admin/javascript/public.js"></script>
</head>
<body>
<div class="main-wrap">
	<?php require "Application/View/Admin/left.html"?>
	<div class="content-wrap">
		<?php require "Application/View/Admin/header.html"?>
		<main class="main-cont content mCustomScrollbar">
			<a href="index.php?p=Admin&c=Article&a=add">
				<button class="btn btn-primary radius">添加更多活动</button>
			</a>
			<form action="index.php?p=Admin&c=Article&a=index" method="post">
				<div class="fr input-group">
				标题:     <input type="text" name="title" size="15"  value="title">
					<input type="submit" value=" 搜索 " class="button" />
				</div>
			</form>

			<table class="table table-bordered  mb-15">
				<thead>
				<tr>
					<th>活动id</th>
					<th>活动标题</th>
					<th>活动内容</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>状态</th>
					<th>发布时间</th>
					<th>审核</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<?php foreach($cc as $user):?>
				<tr class="cen">
					<td><?=$user['article_id']?></td>
					<td><?=$user['title']?></td>
					<td><a href="index.php?p=Admin&c=Article&a=content&id=<?=$user['article_id']?>">点击查看详情</a></td>
					<td><?=date("Y-m-d H:i:s",$user['start'])?></td>
					<td><?=date("Y-m-d H:i:s",$user['end'])?></td>
					<td><?=$user['status']?'进行中':'已过期'?></td>
					<td><?=date("Y-m-d H:i:s",$user['time'])?></td>
					<td><a href="index.php?p=Admin&c=Article&a=shenhe&id=<?=$user['article_id']?>&status=<?=$user['status']?>" ><?=$user['status']?'下架':'上架' ?></a></td>
					<td>
						<a href="index.php?p=Admin&c=Article&a=edit&id=<?=$user['article_id']?>" title="编辑" class="mr-5">编辑</a>
						<a href="index.php?p=Admin&c=Article&a=delete&id=<?=$user['article_id']?>" title="删除">删除</a>
					</td>
				</tr>
				<?php endforeach;?>
				</tbody>
			</table>
			<!--分页-->
			<div  class="panel-bd">
				<?php echo $a ?>
			</div>
			<!--分页-->
		</main>
		<footer class="btm-ft">
			<p class="clear">
				<span class="fl">©Copyright 2016 <a href="#" title="DeathGhost" target="_blank">DeathGhost.cn</a></span>
				<span class="fr text-info">
					<em class="uppercase">
						<i class="icon-user"></i>
						author:deathghost
					</em> | 
					<em class="uppercase"><i class="icon-envelope-alt"></i>
						更多模板： <a href="http://www.mycodes.net/" target="_blank">源码之家</a>
					</em>
					<a onclick="reciprocate()" class="text-primary"><i class="icon-qrcode"></i>捐赠</a>
				</span>
			</p>
		</footer>
	</div>
</div>
</body>
</html>
